.main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn {
    margin: 5px;
}

.btn-actions {
    min-width: 150px;
    text-align: center;
}

.label-actions{
    text-align: center;
}